project_id                    = "myapp-staging"
environment                   = "staging"
region                        = "us-central1"
service_name                  = "myapp"
artifact_repository_id         = "myapp"
runtime_service_account_email = "cr-myapp@myapp-staging.iam.gserviceaccount.com"
notification_email            = "manager@example.com"

allow_unauthenticated = false
min_instances         = 0
max_instances         = 10
cpu                   = "1"
memory                = "512Mi"
p95_latency_ms_threshold = 1000
