project_id                 = "myapp-production"
environment                = "production"
region                     = "us-central1"
state_bucket_location      = "US"
tf_state_bucket            = "myapp-production-tfstate"
github_owner               = "YOUR_GITHUB_ORG_OR_USER"
github_repo                = "YOUR_REPO"
github_environment         = "production"
service_name               = "myapp"
artifact_repository_id     = "myapp"
keep_recent_images         = 60
runtime_service_account_id = "cr-myapp"
wif_pool_id                = "github-production"
wif_provider_id            = "github-production"
