project_id                 = "myapp-staging"
environment                = "staging"
region                     = "us-central1"
state_bucket_location      = "US"
tf_state_bucket            = "myapp-staging-tfstate"
github_owner               = "YOUR_GITHUB_ORG_OR_USER"
github_repo                = "YOUR_REPO"
github_environment         = "staging"
service_name               = "myapp"
artifact_repository_id     = "myapp"
keep_recent_images         = 20
runtime_service_account_id = "cr-myapp"
wif_pool_id                = "github-staging"
wif_provider_id            = "github-staging"
